/* Reset CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav .subnav {
  list-style-type: none;  /*bỏ dấu chấm tròn ở đầu phần dưới phần more*/
}

#nav > li {
  display: inline-block;
  
}

#nav li{
  position: relative;
  
}

#nav li:hover .subnav {
   display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase; /*viết hoa*/
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a,  /* dùng chung thuộc tính, selector_1, selector_2 */
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
  color: #000;
  display: block;
  padding: 0 12px;
  min-width: 160px;
  /* height: 46px; */
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 15px;
}

.search-btn {
  float: right;
  line-height: 46px;
  width: 60px;
}

#header .search-btn:hover {
  background-color: #f44336;
}

#header .ti-search {
  color: #fff;
  line-height: 46px;
  /* height: ; */
}

#slider {
    width: 100%;
    position: relative;
    color: #fff;
    padding-top: 50%;
    margin-top: 46px;
    background: url("/F8_Shop/Week_2/Web_the_band/assets/img/slider/slider_1.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 48px;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  text-align: center;
  
}

#slider .text-heading {
  /* position: absolute; */
  color: #fff;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  /* position: absolute; */
  margin-top: 25px;
  font-size: 15px;
  font-weight: bolder;
}

#content {

}

#content .content-section {
  width: 800px;
  margin-left: auto;  /*2 dòng này để căn giữa*/
  margin-right: auto;  
  text-align: center;
}

#content .content-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;/*độ dày của chữ */
  margin-top: 74px;
  letter-spacing: 4px; /*khoảng cách giữa các chữ*/
  text-transform: uppercase;
}

#content .content-subheading {
  margin-top: 25px;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5; /*khoảng cách dòng, recommend: english:1.4, vietnamese:1.6*/
  opacity: 0.6; /* độ mờ*/
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify; /*căn đều 2 lề*/
}

#content .member-list {
  margin-top: 48px;
}

#content .member-list #name {
  margin: 15px 0px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
}
#content .member-item {
  float: left;
  /* width: 33.333333%; Cách 1*/
  width: calc(100%/3); /*cách 2*/
}

#content .member-item #member-img {
  border-radius: 4px;
  width: 154px;
  /* height: 154px; */
}
#content .content-section #tour-dates {
  background-color: #000;
  margin-top: 25px;
}
#footer {

}


